<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Game - Pedra Papel Tesoura Lagarto Spock</title>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<style type="text/css">
		.content{
			display: none;
		}
	</style>
	<script type="text/javascript">
		let userName = "";
	</script>
</head>
<body>
		<div id="app"></div>
	<div class="choiceUserName">
		<h3>Digite abaixo seu nome de usuário:</h3>
		<input id="userName" type="text" name="userName">
		<button class="submit">Salvar!</button>
	</div>

	<div class="content">
		<div id="app"></div>
	</div>

	<script src="/socket.io/socket.io.js"></script>
	<script src="/vue/Acoes.vue"></script>
	<script type="text/javascript">
		document.querySelector('.submit').addEventListener("click", function(){
			userName = document.querySelector('#userName').value;
			if(userName == ""){
				alert("Digite um nome de usuário Válido!");
				return false;
			}
			document.querySelector('.choiceUserName').style.display = "none";
			document.querySelector('.content').style.display = "block";
		});
	</script>
	<script type="text/javascript">
		let socket = io();

		socket.on('chat message', function(messageReturn){
			console.log(messageReturn);
		}); //Mensagem de retorno

		function makeChoice(idMove){
			socket.emit('chat message', {userName:userName, id:idMove});
		}
	</script>

</body>
</html>