<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Game - Pedra Papel Tesoura Lagarto Spock</title>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<style type="text/css">
		.content{
			display: none;
		}
	</style>
	<script type="text/javascript">
		let userName = "";
	</script>
</head>
<body>

	<div class="choiceUserName">
		<div id="nomeUser"></div>		
	</div>

	<div class="content">
		<div id="ambiente"></div>
		<div id="serverOut"></div>
	</div>



	<script src="/socket.io/socket.io.js"></script>
	<script src="/vue/Acoes.vue"></script>
	
	<script type="text/javascript">
		let socket = io();

		socket.on('chat message', function(messageReturn){
			server.serverOut = messageReturn;
			console.log(messageReturn);
		}); //Mensagem de retorno

		function makeChoice(idMove){
			//console.log({userName:started.userName, id:idMove});
			
			socket.emit('chat message', {
				'id':idMove,
				'userName':started.userName
			});
		}
	</script>

</body>
</html>