<!DOCTYPE html>
<html>
<head>
	<title>Testando Vue.</title>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
	<div id="app-2">
  		<button v-on:click="imprimeIsso(this)">Pedra</button>
  		<button v-on:click="imprimeIsso('#Alb')">Papel</button>
  		<button v-on:click="imprimeIsso('#Rein')">Tesoura</button>
		<h1>{{ message }}</h1>
	</div>

	<script type="text/javascript">
		var app2 = new Vue({
		  el: '#app-2',
		  data: {
		    message: ''
		  },
		  methods: {
		  	imprimeIsso: function(evt) {
		  		console.log(evt);
		  		/*this.message = evt;*/
		  	}
		  }
		});
	</script>
</body>
</html>

